<h2>Gestor de empresas afiliadas</h2>

<% i = 0 %>

<table id = "enterpriseList">
	<tr>
	<%@empresas.each do |e|%>

		<td class = "aEnterprise">
		<div class = "adm-empresa">
			<h3><%=e.nombre%></h3>
			<%=image_tag e.logotipo.url(:mini)%><br>
			<%=link_to 'Ver', empresa_path(e)%>
			<%=link_to 'Editar', edit_empresa_path(e)%>
			<%=button_to 'Delete', empresa_path(e), method: :delete, data: {confirm: "esta seguro?"}%>

		</div>
		</td>
		<% i += 1 %>
		<% if ((i % 5) == 0) %>
			</tr><tr>
		<% end %>

	<%end%>
	</tr>


</table>


<br><br>
<%=link_to "Afiliar Nueva Empresa", new_empresa_path%>