<div id = "footer" class = "gradient">

	<div id = "footerCont">

		<div class = "fColumn">
			<p><%=link_to "Locales de Comida", controller: "trovu", action: "locales"%></p>
			<ul>
				<li>Almuerzo / Cena</li>
				<li>Desayuno / Merienda</li>
			</ul>
		</div>

		<div class = "fColumn">
			<p><%=link_to "Conocenos", controller: "trovu", action: "conocenos"%></p>
			<ul>
				<li>Quienes somos</li>
				<li><a href = "./conocenos#mision">Mision</a></li>
				<li><a href = "./conocenos#vision">Vision</a></li>
			</ul>
		</div>

		<div class = "fColumn">
			<p><%=link_to "Legal", controller: "trovu", action: "legal"%></p>
			<ul>
				<li><%=link_to "Condiciones de uso", controller: "trovu", action: "legal", id: "condiciones-uso"%></li>
				<li><%=link_to "Politica de privacidad - Usuarios", controller: "trovu", action: "legal", anchor: "privacidad-usuario"%></li>
				<li><%=link_to "Politica de privacidad - Empresas", controller: "trovu", action: "legal", anchor: "privacidad-empresas"%></li>
			</ul>
		</div>

		<div class = "fColumn">
			<p><%=link_to "Contactanos", controller: "trovu", action: "contactanos"%></p>
			<ul>
				<li>Empresas</li>
				<li>Usuarios</li>
				<li>Ayudanos a Mejorar</li>
			</ul>
		</div>

		<div class = "fColumn">
			<p><%=link_to "FAQ", controller: "trovu", action: "faq"%></p>
			<ul>
				<li>Trovu?</li>
				<li>faq</li>
				<li>Como usar trovu?</li>
				<li>Necesitas ayuda?</li>
			</ul>
		</div>

	</div>
</div> 