<div id = "footer" class = "gradient">

	<div id = "footerCont">

		<div class = "fColumn">
			<p><%=link_to "Locales de Comida", controller: "trovu", action: "locales"%></p>
			<ul>
				<li>Almuerzo / Cena</li>
				<li>Desayuno / Merienda</li>
			</ul>
		</div>

		<div class = "fColumn">
			<p><%=link_to "Conocenos", controller: "trovu", action: "conocenos"%></p>
			<ul>
				<li>Quienes somos</li>
				<li>Mision</li>
				<li>Vision</li>
			</ul>
		</div>

		<div class = "fColumn">
			<p><%=link_to "Legal", controller: "trovu", action: "legal"%></p>
			<ul>
				<li>Privacidad</li>
				<li>Cositas</li>
			</ul>
		</div>

		<div class = "fColumn">
			<p><%=link_to "Contactanos", controller: "trovu", action: "contactanos"%></p>
			<ul>
				<li>Empresas</li>
				<li>Usuarios</li>
				<li>Ayudanos a Mejorar</li>
			</ul>
		</div>

		<div class = "fColumn">
			<p><%=link_to "FAQ", controller: "trovu", action: "faq"%></p>
			<ul>
				<li>Trovu?</li>
				<li>faq</li>
				<li>Como usar trovu?</li>
				<li>Necesitas ayuda?</li>
			</ul>
		</div>

	</div>
</div> 