<div id = "header" class = "gradient">
	
	<div id = "headerCont">
		<%= link_to (image_tag "logo.png", id: "logoImg"), controller: "trovu", action: "index"%>

		<div id = "mainMenu">
			<strong> <%= link_to "Almuerzo / Cena", controller: "trovu", action: "alCen"%> </strong>
			<strong> <%= link_to "Desayuno / Merienda", controller: "trovu", action: "desMer"%> </strong>
		</div>
		
		<%= form_tag "/search", method: "get" do %>

			<div id ="searcher">
				<%=text_field_tag 'word', nil, placeholder: "Buscar...", required: true%>
				<%=submit_tag " ", class: "submitSearch"%>
			</div>

		<%end%>
	</div>

</div>

<div class = "clear"></div>