<div id = "header" class = "gradient">
	
	<div id = "headerCont">
		<%= link_to (image_tag "logo.png", id: "logoImg"), controller: "trovu", action: "index"%>
		
		<%= form_tag "/search", method: "get" do %>

			<div id ="searcher">
				<%=text_field_tag 'word', nil, placeholder: "Buscar...", required: true%>
				<%=submit_tag " ", class: "submitSearch"%>
			</div>

		<%end%>

		<ul id = "mainMenu">
			 <li><strong><%= link_to "Almuerzo / Cena", controller: "trovu", action: "alCen"%> </strong>
				<ul class = "hiddenMenu">
					<div>
						<li>Restaurantes</li>
						<li>Pensiones</li>
						<li>Snacks</li>
						<li>Helderias</li>
					</div>
				</ul>
			</li>
			<li><strong> <%= link_to "Desayuno / Merienda", controller: "trovu", action: "desMer"%> </strong></li>
		</ul>
	</div>

</div>

<div class = "clear"></div>