
<% @empresas.each do |e| %>

	<h3 class = "empresa"> <%= e.nombre%> 
		
		<%= image_tag "stars/"+e.estrellas.to_s+"stars.png", class: "star"%>
	</h3>

	<div class = "e-description" style = "background-image: url( /assets/<%=e.logotipo %> ); background-position: center center; background-repeat: no-repeat;"> 

		
		<% e.sucursals.each do |s| %>	
			<div class = "s-description">
				<p>
					<strong> Sucursal nยบ <%=s.id%>: </strong> 
					<%= s.direccion %> 
				</p>
				<p><strong> Telefono(s): </strong> 
					<% s.telefonos.each do |t| %>
						<%= t.numero.to_s  + " / "%>
					<% end %>
				</p>
				<br>
			</div>
		<% end %> 

		<a class = "e-web" href="//<%=e.paginaWeb%>"><%=e.paginaWeb%></a>
	</div>
<% end %>
