<div class = "index-side-menu-container">
	<ul class = "index-side-menu">
		<li><%=link_to "Mas cercanos", controller: "trovu", action: "masCercanos"%></li>
		<li><%=link_to "Top 10", controller: "trovu", action: "top10"%></li>
		<li><%=link_to "Destacados", controller: "trovu", action: "destacados"%></li>
		<li><%=link_to "Nuevos", controller: "trovu", action: "nuevos"%></li>
	</ul>
</div>

<%= render "slider" %>

<%=image_tag "ads/ad.jpg", id: "index-ad"%>
<%= render "fb_like"%>

<div class = "clear"></div>