<div class = "index-side-menu-container">
	<ul class = "index-side-menu">
		<li> <span class = "index-side-menu-arrow">-></span> <%=link_to "Mas cercanos", controller: "trovu", action: "masCercanos"%></li>
		<li> <span class = "index-side-menu-arrow">-></span> <%=link_to "Top 10", controller: "trovu", action: "top10"%></li>
		<li> <span class = "index-side-menu-arrow">-></span> <%=link_to "Destacados", controller: "trovu", action: "destacados"%></li>
		<li> <span class = "index-side-menu-arrow">-></span> <%=link_to "nuevos", controller: "trovu", action: "nuevos"%></li>
	</ul>
</div>

<%= render "slider" %>


<div class = "clear"></div><