
<h4>Nuevo Menu Item</h4>
<div class = "bot-left-border">
<%= form_for :menu_entry, url: empresa_sucursal_menu_entries_path(@empresa, @sucursal) do |f|%>
	<table>
		<tr>
			<td><%=f.label :plato, "Nombre item:"%></td>
			<td><%=f.text_field :plato, required: :true%></td>
		</tr>
		<tr>
			<td><%=f.label :precio, "Precio:"%></td>
			<td><%=f.number_field :precio, required: :true%></td>
		</tr>
		<tr>
			<td><%=f.label :descripcion, "Descripción:"%></td>
			<td><%=f.text_field :descripcion%></td>
		</tr>
	</table>
	
	
	<%= f.submit %>
<% end %>
</div>
<br><br>
