<h2>Registrar nuevo tipo de pago</h2>

<%= form_for :payment_type, url: payment_types_path do |f| %>
<table>
<tr>
	<td><%= f.label :amount, "Precio: "%></td>
	<td><%= f.number_field :amount, required: true%></td>
</tr>	
<tr>
	<td><%= f.label :name, "Nombre:" %></td>
	<td><%= f.text_field :name, required: true%></td>
</tr>	
<tr>
	<td><%= f.label :description, "Descripcion: "%></td>
	<td><%= f.text_area :description, placeholder: "Una breve descripcion"%></td>
</tr>
</table>

<%=f.submit%>
<% end %>