
<div class = "left-column">
<h1><%=@sucursal.empresa.nombre%></h1>
<h3>Editar Sucursal#<%=@sucursal_id%></h3>

<div class = "edit-form">
	<%= form_for @sucursal, url: empresa_sucursal_path(@sucursal.empresa, @sucursal), method: :patch do |f|%>
		
		<table>
			<tr>
				<td><%=f.label :direccion, "Direccion:"%></td>
				<td><%=f.text_field :direccion, required: :true, id: "locNameInput"%></td>
			</tr>
			<tr>
				<td><%=f.label :latitud, "Latitud:"%></td>
				<td><%=f.number_field :latitud, required: :true, id: "latInput", step: :any%></td>
			</tr>
			<tr>
				<td><%=f.label :longitud, "Longitud:"%></td>
				<td><%=f.number_field :longitud, required: :true, id: "lngInput", step: :any%></td>
			</tr>

		</table>


		<%=f.submit "Guardar" %>
	<% end %>
	
	<%=render 'menu_entries/show', show_edit: :false%>
	<%=link_to "Editar Menu", new_empresa_sucursal_menu_entry_path(@sucursal.empresa, @sucursal)%>
</div>

</div>
<div class = "rigth-column">
	<%=render "empresas/locationPicker"%>
</div>

<div class = "clear"></div>