
<div class = "left-column">
	<h3><%= @empresa.nombre %></h3>
	<%= image_tag @empresa.logotipo.url(:medium)%><br>

	<%i = 0%>
	<%lat = 0%>
	<%lng = 0%>
	<% @empresa.sucursals.each do |s|%>
		<%=s.direccion%><br>
		<%i = i+1%>
		<%lat += s.latitud%>
		<%lng += s.longitud%>
	<%end%>

	<% if @empresa.pays%>
		<div class = "border">

			<p >Empresa <b>Trovu</b></p><br>
			<div class = "small-font">
			<i>Suscripcion termina en: <%=@empresa.expiration_date.to_s%></i><br>
			<%=link_to "Ver suscripciones", empresa_trovu_suscriptions_path(@empresa), class: 'small-font'%>
			<p><b>Cuenta de visitas:</b> <%= @empresa.visit_count == nil ? 0 :  @empresa.visit_count %></p>
		</div>
		</div>

	<%else%>
		<p><i>Empresa normal</i></p>
	<% end %>

	<p>
		<i>Afiliada en: <%= @empresa.created_at%></i>
	</p>

	<%=link_to "Editar", edit_empresa_path(@empresa)%> <br>
	<%=link_to "Volver", controller: "admin", action: "index"%>

</div>

<div class = "rigth-column">
	<div id = "map-canvas"></div>
</div>

<div class = "clear"></div>

<%=render "admin/show_empresa_sucursals", empresa: @empresa, lat: lat/i, lng: lng/i%>