<!DOCTYPE html>
<html>
<head>
  <title>Trovu</title>
  
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag "admin/admin"%>
  <%= javascript_include_tag "admin/admin"%>
  <%= csrf_meta_tags %>
</head>
<body>

<%=render 'admin/header'%>

<div id = "page">
	<%= yield %>
</div>
<%=render 'admin/footer'%>

</body>
</html>
